@import '../node_modules/bulma/bulma.sass';
@import '../node_modules//jsoneditor/dist/jsoneditor.min.css';

.h90 {
  height: 90vh;
}

.w100 {
  width: 100%;
}

.box-animate {
  cursor: pointer;
  transition-duration: 800ms;
  &:hover {
    transform: scale(0.8);
  }
}
